.weather-card {
  position: relative;
  border-radius: 3rem;
  padding: 4rem 3rem 3rem 3rem;

  .day-hint {
    position: absolute;
    left: 3rem;
    top: 1.5rem;
  }

  .weather-desc {
    padding-left: 1rem;
  }
}